{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body>
    <center>
        <h1>BAHUBALI-1</h1>
        <h1></h1><a href="{% url 'bahu:a2' %}">rrr</a></h1>
        <img src="{% static 'images/b3.jpg' %}" alt="" height="250px" width="300px">
        <img src="{% static 'images/b1.jpg' %}" alt="" height="300px" width="600px">
        <img src="{% static 'images/b4.jpg' %}" alt="" height="250px" width="300px">
        <h1>BAHUBALI-2</h1>
        <img src="{% static 'images/b2.jpg' %}" alt="" height="300px" width="900px">
    </center>
</body>
</html>